<?xml version="1.0"?>
<model>
  <name>MecaMind ROS2 Mecanum Robot</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ROS2 AI Course</name>
    <email>course@example.com</email>
  </author>
  <description>Four-wheel mecanum robot with LiDAR, IMU and RGB camera.</description>
</model>
